<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correspondence" version="1.4.1.2" targetFramework="sl50" />
  <package id="Correspondence.Silverlight.UnitTest" version="1.4.1.2" targetFramework="sl50" />
  <package id="Silverlight.UnitTest" version="4.0.40413.2011" targetFramework="sl50" />
  <package id="UpdateControls" version="2.2.1.2" targetFramework="sl50" />
</packages>